.gallery-title {
	font-size: 32px;
	letter-spacing: 1px;
	margin: 72px 0 48px 0;
	text-align: center;
	color: $darkBlue;
}

.gallery-image-top {
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
}

.image-g {
	max-width: 265px;
}

.gallery-image {
	max-width: 265px;
	margin: 5px;
}

h5 {
	letter-spacing: 1px;
	font-size: 20px;
	margin-top: 15px;
	color: $darkBlue;
}

.text-gallery {
  font-size: 17px;
  line-height: 34px;
  letter-spacing: 1px;
	color: $darkGrey;
	margin: 15px 0 32px 0;
}

@include breakpoint-width (993px, 1201px) {
	.gallery-image-top {
		justify-content: center;
	}
	.gallery-image {
		max-width: 370px;
		margin: 25px;
	}
	.image-g {
		max-width: 370px;
	}
}

@include breakpoint-width (777px, 993px) {
	.gallery-image-top {
		justify-content: center;
	}
	.gallery-image {
		margin: 10px;
	}
}

@include breakpoint-width (490px, 777px) {
	.gallery-image-top {
		justify-content: center;
	}
	.gallery-image {
		max-width: 370px;
		margin: 5px;
	}
	.image-g {
		max-width: 370px;
	}
}

@include breakpoint-width (0px, 490px) {
	.gallery-image-top {
		justify-content: center;
	}
	.gallery-image {
		margin: 0px;
	}
}