@import "constants.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Webfont', sans-serif;
  min-width: 320px;
}

body, html {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

// основная оболочка проекта
.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@include bigTable {
  .wrapper {
    max-width: 1140px;
  }
}

@include largeTable {
  .wrapper {
    max-width: 960px;
  }
}

@include table {
  .wrapper {
    max-width: 720px;
  }
}

@include smallTable {
  .wrapper {
    max-width: 540px;
  }
}

@include mobile {
  .wrapper {
    max-width: 100%;
  }
}

// общие стили
a {
  text-decoration: none;
}


// стили изображений
.img-radius {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  max-width: 88px;
}

// цветовая гамма
.white {
  color: $white;
}

.what {
  background-color: #f5f5f5;
}

.darkwhite {
  color: #ccc;
}

.lightGrey {
  color: $lightGrey;
}

.darkGrey {
  color: $darkGrey;
}

.darkBlue {
  color: $darkBlue;
}

.orange {
  color: $orange;
}

.black {
  color: $black;
}

// регистр текста 
.capitalize {
text-transform: capitalize
}
.upperCase {
  text-transform: uppercase;
}

// 
.center {
  text-align: center;
}

// размер шрифтов
.light {
  font-weight: 200;
}

.medium {
  font-weight: 400;
}

.normal {
  font-weight: 600;
}

.hard {
  font-weight: 700;
}

.sizeMin {
  font-size: 24px;
}

.sizeNormal {
  font-size: 50px;
}
.letter-min {
  letter-spacing: 1px;
  
}
.letter {
letter-spacing: 5px;
}
// тень 
.shadow {
  box-shadow: 3px 4px 6px rgba(45, 45, 45, 0.15);
}

.shadow2 {
  box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, 0.1);
}

.shadow3 {
  background: rgba(0, 0, 0, 0.6);
}

// общий стиль для фона
.div-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}