@import "mixins.scss";

.wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: black;
}

@include largeTable {
  .wrapper {
    max-width: 1140px;
  }
}
@include table {
  .wrapper {
    max-width: 960px;
  }
}
@include smallTable {
  .wrapper {
    max-width: 720px;
  }
}
@include mobile {
  .wrapper {
    max-width: 540px;
  }
}