@import "../constants.scss";

.email-container {
  padding: 48px 0;
}

.email-block {
  display: flex;
}
.input-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.email-input {
  height: 54px;
  margin-right: 3%;
  padding: 10px 5px;
  font-size: 15px;
  color: #666;
  font-style: italic;
  letter-spacing: 2px;
  border: none;
  border-bottom: 1px solid #333;
  background: none;
  outline: none; // для отмены выделения при нажатии
}

.email-button {
  height: 54px;
  color: $white;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 16px 30px;
  background: #da9d40;
  border: 2px solid #da9d40;
  border-radius: 5px;
  cursor: pointer;
}

.email-text {
  position: relative;
  width: 100%;
  padding: 0 15px;
}

@include breakpoint-width (0px, 769px) {
  .email-block {
    flex-direction: column;
    text-align: center;
  }
  .input-button {
    padding-top: 20px;
    justify-content: center;
  }
}

@include breakpoint-width (0px, 440px) {
  .email-container {
    padding: 48px 10;
  }
  .input-button {
    flex-direction: column;
  }
  .email-input {
    margin-bottom: 10px;
    margin-right: 0;
    width: 100%;
  }
  .email-button {
    width: 100%;
  }
}
