@import "../constants.scss";

.container-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  letter-spacing: 1px;
  margin: 40px 0 40px;
}

.box-container {
  display: flex;
}

.left-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  box-sizing: border-box;
  width: 50%;
}

.left-container__block {
  display: flex;
  flex-direction: column;
  width: calc(50% - 30px);
  margin: 0 15px;
  background-color: #f8f9fa;
  margin-bottom: 1.5em;
  box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, 0.1);
  padding: 3em 0.5em;
}

.title-box {
  letter-spacing: 1px;
  color: $darkBlue;
}

.text-box {
  color: $darkGrey;
}
.image-box {
  display: flex;
  width: 50%;
  height: 100%;
  background-image: url('../../images/1.jpg');
}