@import "../constants.scss";
@import "../common.scss";
@import "./we-do.scss";
@import "../mixins.scss";

.what-people-color {
  background-color: #f5f5f5;
}

.what-people {
  padding: 48px 0;
}

.what-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  letter-spacing: 1px;
  margin-bottom: 40px;
  text-align: center;
}

.people-container {
  width: 100%;
  padding: 15px 0; 
}

.container-say {
  background-color: $white;
  padding: 48px;
  &:first-child{
    margin-right: 30px;
  }
}

.comment-img {
  display: flex;
  margin-top: 20px;
}

.comment-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 15px;
}

.comment {
  font-size: 17px;
  font-style: italic;
}

.name {
  letter-spacing: 1px;
  font-size: 17px;
  // временно
  line-height: 1;
}

.people-Description {
  font-size: 13px;
  line-height: 1;
  margin-top: 10px;
}

@include breakpoint-width (0px, 1000px){
  .container-say {
    &:first-child {
      margin-right: 0px;
      margin-bottom: 30px;
    }
  }
}
@include breakpoint-width (0px, 566px){
  .people-container {
    padding: 0 10px;
  }
}

@include breakpoint-width (0px, 576px){
  .what-people {
    padding: 24px 15px;
  }
  .what-title {
    font-size: 35px;
    margin-bottom: 30px;
  }
  .container-say {
    padding: 24px;
  }
}

@include breakpoint-width (0px, 460px){
  .comment-img {
    display: inline-block;
    margin: auto;
  }
  .comment {
    font-size: 13px;
  }
  .comment-name {
    margin: 0 auto;
  }
  .name {
    margin: auto;
  }
}