@import "../constants.scss";
@import "../common.scss";
@import "./we-do.scss";
@import "../mixins.scss";

.what-people-color {
  background-color: #f5f5f5;
}
.what-people {
  padding: 48px 0;
}

.people-container {
  width: 100%;
  padding: 15px 0; 
}

.container-say {
  background-color: $white;
  padding: 48px;
  &:first-child{
    margin-right: 30px;
  }
}

.comment-img {
display: flex;
margin-top: 20px;
}

.comment-name {
  text-align: left;
  margin-left: 15px;
}
.comment {
  font-size: 17px;
  font-style: italic;
}

.name {
  letter-spacing: 1px;
  font-size: 17px;
}

.people-Description {
  font-size: 13px;
}

@include breakpoint-width (0px, 1000px){
  .container-say {
    &:first-child {
      margin-right: 0px;
      margin-bottom: 30px;
    }
  }
}
@include breakpoint-width (0px, 566px){
  .people-container {
    padding: 0 10px;
  }
}

@include breakpoint-width (0px, 576px){
  .what-people {
    padding: 48px 15px;
  }
}