@import "../constants.scss";
@import "../common.scss";
@import "./we-do.scss";
@import "../mixins.scss";

.what-people-color {
  background-color: #f5f5f5;
}
.what-people {
  padding: 48px;
}

.people-container {
  width: 100%;
  padding: 15px; 
}

.l-container {
  background-color: $white;
  margin-left: 15px;
  padding: 48px;
}

.r-container {
  background-color: $white;
  margin-right: 15px;
  padding: 48px;
}

.comment-img {
  display: flex;
  margin-top: 20px;
}

.comment-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 15px;
}
.comment {
  font-size: 17px;
  font-style: italic;
}

.name {
  letter-spacing: 1px;
  font-size: 17px;
  // временно
  line-height: 1;
}

.people-Description {
  font-size: 13px;
  line-height: 1;
  margin-top: 10px;
}

@include bigTable{
  .r-container {
    padding-bottom: 25px;
  }
}