@import "../constants.scss";

.email-container {
  padding: 48px 0;
}

.email-block {
  display: flex;
}
.input-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.input-email {
  height: 54px;
  margin-right: 3%;
  padding: 10px 5px;
  font-size: 15px;
  color: #666;
  font-style: italic;
  letter-spacing: 2px;
  border: none;
  border-bottom: 1px solid #333;
  background: none;
  outline: none;
  transition: 0.3s ease-in-out;
  &::placeholder {
    transition: 0.3s ease-in-out;
  } 
}

.input-invalid {
  color: red;
  border-bottom: 1px solid red;
  &::placeholder {
    color: red;
  }
}

.email-button {
  margin: 10px 0;
  height: 54px;
  color: $white;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 16px 30px;
  background: $orange;
  border: 2px solid $orange;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease-in-out;
  &:disabled {
    opacity: 0.7;
  }
}

.email-text {
  position: relative;
  width: 100%;
  padding: 0 15px;
}

.feedback {
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.feedback-success {
  opacity: 1;
  color: green;
}

.feedback-error {
  opacity: 1;
  color: red;
}


@include breakpoint-width (0px, 769px) {
  .email-block {
    flex-direction: column;
    text-align: center;
  }
  .input-button {
    padding-top: 20px;
    justify-content: center;
  }
}

@include breakpoint-width (0px, 440px) {
  .email-container {
    padding: 48px 10;
  }
  .input-button {
    flex-direction: column;
  }
  .email-input {
    margin-bottom: 10px;
    margin-right: 0;
    width: 100%;
  }
  .email-button {
    width: 100%;
  }
}
