@import "../constants.scss";

.container-stats {
  background-image: url('../../images/banner4.jpg');
  padding: 72px 0;
  text-align: center;
}

.stats-grids {
  display: flex;
}

.title-stats {
  display: flex;
  font-size: 40px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.span-text {
  font-size: 24px;
}

.text-stats {
  font-size: 17px;
  line-height: 34px;
  letter-spacing: 1px;
}

.left-stats {
  width: 100%;
}

.main-right-stats {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.right-stats-title {
  padding: 15px; 
}

.right-h4 {
  font-size: 38px;
  margin: 15px 0;
}

.circle {
  display: flex;
  font-size: 20px;
  background: rgb(248, 249, 250);
  width: 65px;
  height: 65px;
  text-align: center;
  margin: auto;
  line-height: 65px;
  border-radius: 50%;
}

.icon-stats {
  background-size: contain;
}

.people {
  background-image: url('../../images/socials/users.svg');
}

.table {
  background-image: url('../../images/socials/table.svg');
}

.folder {
  background-image: url('../../images/socials/folder.svg');
}

.people , .table , .folder {
  background-repeat: no-repeat;
  display: flex;
  margin: auto;
  width: 26px;
  height: 20px;
}

@include largeTable {
  .title-stats {
    font-size: 35px;
  }
  .text-stats {
    font-size: 15px;
  }
}
@include breakpoint-width (0, 769px) {
  .container-stats {
    padding: 48px;
  }
  .title-stats {
    font-size: 30px;
    flex-direction: column;
  }
  .text-stats {
    font-size: 13px;
  }
  .stats-grids {
    flex-direction: column;
    text-align: center;
  }
  .main-right-stats {
    display: flex;
    justify-content: center;
  }
}
@include table {
  .container-stats {
    padding: 24px;
  }
  .right-h4 {
    font-size: 30px;
  }
}