@import "constants.scss";

.container-hero {
  display: flex;
  overflow: hidden;
}
.prev , .next {
  cursor: pointer;
  position: absolute;
  left: 5%;
  top: 35%;
  color: white;
  font-size: 30px;
  transition: 0.5s ease-in-out;
  border-radius: 0 3px 3px 0;
  outline: none;
  background-color: rgba(0, 0 ,0 ,0) ;
  border: none;
  transition: 0.3s ease-in-out ;
}
.hide {
  opacity: 0;
}
.next {
  display: block;
  right: 5%;
  left: auto;
}
.wrapper_slides {
  display: flex;
  position: relative;
  width: 100vw;
  transition: 0.3s ease-in-out;
}
.main-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 80vh;
  min-height: 320px;
  background-color: #fafafa;
  background-image: url('../../images/banner1.jpg');
  position: relative;
  padding: 0 10px;
}
.img1 {
  background-image: url('../../images/banner2.jpg');
}
.img2 {
  background-image: url('../../images/banner3.jpg');
}
.img3 {
  background-image: url('../../images/banner4.jpg');
}
.overlay {
  position: absolute;
  background: rgba(black, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.hero-title {
  letter-spacing: 3px;
  line-height: 68px;
  z-index: 10;
  text-align: center;
  max-width: 770px;
}
.hero-description {
  margin: 24px 0;
  letter-spacing: 4px;
  text-align: center;
  z-index: 10;
}

.hero-button {
  padding: 13px 30px;
  font-size: 15px;
  letter-spacing: 2px;
  border: 1px solid $white;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 10;
  transition: 0.3s ease-in-out;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: $white;
    color: $black;
  }
}
.scroll-top {
  background: url('../../images/move-top.png') no-repeat;
  display: inline-block;
  position: fixed;
  border: none;
  outline: none;
  opacity: 0;
  width: 34px;
  height: 34px;
  bottom: 2%;
  right: 2%;
  z-index: 0;
  transition: 0.5s ease-in-out;
}

@include bigTable {
  .hero-title {
    font-size: 53px;
  }
  .hero-description {
    font-size: 24px;
  }
}
@include largeTable {
  .hero-title {
    font-size: 43px;
  }
  .hero-description {
    font-size: 22px;
  }
}
@include table {
  .hero-title {
    font-size: 36px;
    line-height: 34px;
  }
  .hero-description {
    font-size: 20px;
  }
}
@include smallTable {
  .hero-title {
    font-size: 29px;
    line-height: 34px;
  }
  .hero-description {
    font-size: 18px;
  }
}
@include mobile {
  .hero-title {
    line-height: 34px;
    font-size: 22px;
  }
  .hero-description {
    font-size: 17px;
  }
}