
.card-agents {
	display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.agent {
  width: 23%;
	position: relative;
  transition: all .2s ease-out 0s;
	text-align: center;
  overflow: hidden;
	&:after {
		content: "";
		width: 86%;
		height: 86%;
		position: absolute;
		top: 7%;
		left: 7%;
		display: flex;
    background: #000;
    opacity: 0;
		transform: rotate3d(-1, 1, 0, 100deg);
		transition: all .4s ease-in-out 0s;
	}
	&:hover {
		&:after {
			transform: rotate3d(0, 0, 0, 0deg);
			opacity: 0.9;
		}
		.agent-animation {
			opacity: 1;
      transform: rotate3d(-1, 1, 0, 0deg);
		}
	}
}
.agent-animation {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	width: 86%;
  height: 86%;
  top: 7%;
	left: 7%;
	opacity: 0;
	transition: 0.3s ease-in-out;
	z-index: 10;
  transform: rotate3d(-1, 1, 0, 100deg);
  transition: all .4s ease-in-out 0s;
}
.img-thumbnail {
	padding: 4px;
	background-color: #fff;
	border: 1px solid #dee2e6;
	border-radius: 4px;
	max-width: 100%;
	height: auto;
}
.agent-title {
	display: block;
	font-size: 22px;
	color: #da9d40;
	margin: 0 0 10px;
	text-transform: uppercase;
}
.post {
	display: block;
	font-size: 15px;
	color: #ffffff;
	margin-bottom: 20px;
	text-transform: capitalize;
}

.about-socials {
	display: flex;
	justify-content: center;
}

.about-icon {
	margin: 0 8px;
}
