// тут подключать зависимости стилей для главной страницы!
@import "../index/we-do.scss";

.crump {
  background-color: $lightGrey;
  margin-bottom: -15px;
}

.crump-link {
  display: flex;
  padding: 16px 12px;
}

.text-crump {
  margin-left: 7px;
}

.hero-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 250px;
  background-color: #fafafa;
  background-image: url(../../images/banner1.jpg);
  position: relative;
  padding: 0 10px;
}

.natus-container {
  display: flex
}

.natus-card {
  margin: 0 15px;
}

.natus-icon {
  display: flex;
  justify-content: center;
  height: 40px;
  margin-top: 96px;
}

.natus-title {
  text-align: center;
  margin: 15px 0;
  font-size: 22px;
  letter-spacing: 2px;
}

.natus-text {
  text-align: center;
  font-size: 17px;
  line-height: 2em;
  letter-spacing: 1px;
}

// начало travel

.travel {
  display: flex;
  width: 100%;
  height: 450px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.travel-wrapper-img {
  display: flex;
  width: 100%;
  height: 100%;
}
.travel-column {
  flex-direction: column;
  margin-left: 10px;
  @include between-children {
    margin-top: 10px;
  }
}
.travel-row {
  flex-direction: row;
  @include between-children {
    margin-left: 10px;
  }
}

.travel-image-block {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px 10px 50px 10px;
  width: 100%;
  height: 100%;
}
.travel-img-1 {
  background-image: url(../../images/4.jpg);
}
.travel-img-2 {
  background-image: url(../../images/banner3.jpg);
}
.travel-img-3 {
  background-image: url(../../images/3.jpg);
}
.travel-img-4 {
  background-image: url(../../images/banner4.jpg);
}
.travel-text {
  text-align: center;
  width: 100%;
}

@include breakpoint-width (0px, 770px) {
  .natus-container {
    flex-direction: column;
  }
  .natus-icon {
    margin-top: 48px;
  }

  .travel {
    flex-direction: column;
    margin-bottom: 596px;
  }
  .travel-column {
    margin: 10px 0;
  }
  .travel-row {
    flex-direction: column;
    margin: 10px 0;
    @include between-children {
      margin: 10px 0;
    }
  }
  .travel-image-block {
    min-height: 241px;
  }
}