.absolute-nav {
  position: absolute;
  width: 100%;
  z-index: 100;
}

.navigation {
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: flex-end;
  padding: 24px 0;
}

.navigation-links {
  letter-spacing: 1px;
  font-size: 16px;
  padding: 10px 13px;
  transition: 0.3s ease-in-out;
}
.navigation-links:hover {
  color: #fff;
}
@media only screen and (min-width: 0) and (max-width: 1024px) {
  .navigation-links {
    font-size: 15px;
  }
}

.navigation-phone {
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
}
.navigation-phone:hover {
  color: #fff;
}

.logo {
  font-size: 34px;
}
@media only screen and (min-width: 0) and (max-width: 1024px) {
  .logo {
    font-size: 26px;
  }
}

#burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #da9d40;
  cursor: pointer;
}
#burger span {
  display: flex;
  flex-shrink: 0;
  width: 50%;
  height: 2.5px;
  background: #fff;
  border-radius: 5px;
  position: relative;
}
#burger span:after, #burger span:before {
  content: "";
  display: flex;
  flex-shrink: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
#burger span:after {
  top: -5px;
}
#burger span:before {
  top: 5px;
}

.mobile-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.mobile-wrapper__links {
  display: flex;
  width: 100%;
  height: 0;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  top: 50px;
  background-color: #fff;
  max-height: 200px;
  transition: 0.2s ease-in-out;
}

.mobile-links {
  text-align: center;
  padding: 7px 0;
  transition: 0.2s ease-in-out;
  opacity: 0;
}
.mobile-links:hover {
  color: #da9d40;
}

.active-menu {
  height: 195px;
}

.active-menu-links {
  opacity: 1;
}

@media only screen and (min-width: 992px) {
  .mobile-navigation {
    display: none;
  }

  .navigation {
    display: flex;
  }
}
.footer {
  background-color: black;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 48px 0 47px;
}

.footer-slogan {
  display: flex;
  align-items: center;
  font-size: 45px;
  letter-spacing: 1px;
  margin-right: 10px;
  max-width: 290px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 730px;
  padding: 16px 0;
}

.footer-socials {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}
.footer-socials > :not(:first-child) {
  margin-left: 24px;
}

.footer-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 16px;
}
.footer-navigation > :not(:first-child) {
  margin-left: 16px;
}

.footer-icon {
  display: flex;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  background-size: contain !important;
  cursor: pointer;
}

.facebook {
  background-image: url("../../images/socials/fb.svg");
}

.twitter {
  background-image: url("../../images/socials/tw.svg");
}

.google {
  background-image: url("../../images/socials/google.svg");
}

.instagram {
  background-image: url("../../images/socials/inst.svg");
}

.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #222;
  cursor: pointer;
}

.footer-text {
  font-size: 17px;
  line-height: 2em;
  letter-spacing: 1px;
}

.footer-link {
  transition: 0.3s ease-in-out;
}
.footer-link:hover {
  color: #ddd;
}

@media only screen and (min-width: 0) and (max-width: 999px) {
  .footer-top {
    flex-direction: column;
  }

  .footer-socials,
.footer-navigation {
    justify-content: center;
  }

  .footer-slogan {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 0) and (max-width: 549px) {
  .footer-navigation {
    flex-direction: column;
  }
  .footer-navigation > :not(:first-child) {
    margin-left: 0;
  }

  .footer-helper {
    font-size: 10px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .footer-slogan {
    font-size: 34px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .footer-slogan {
    font-size: 30px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .footer-slogan {
    font-size: 27px;
  }
}
@media only screen and (min-width: 0) and (max-width: 575px) {
  .footer-slogan {
    font-size: 24px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Webfont", sans-serif;
}

body, html {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .wrapper {
    max-width: 960px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .wrapper {
    max-width: 720px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .wrapper {
    max-width: 540px;
  }
}
@media only screen and (min-width: 0) and (max-width: 575px) {
  .wrapper {
    max-width: 100%;
  }
}
a {
  text-decoration: none;
}

.white {
  color: #fff;
}

.lightGrey {
  color: #ddd;
}

.darkGrey {
  color: #707579;
}

.darkBlue {
  color: #323648;
}

.orange {
  color: #da9d40;
}

.black {
  color: #333;
}

.upperCase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.light {
  font-weight: 200;
}

.medium {
  font-weight: 400;
}

.normal {
  font-weight: 600;
}

.hard {
  font-weight: 700;
}

.shadow {
  box-shadow: 3px 4px 6px rgba(45, 45, 45, 0.15);
}

.div-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.footer-slogan {
  text-align: left;
}

@media only screen and (min-width: 0) and (max-width: 999px) {
  .footer-slogan {
    text-align: center;
  }
}
.main-hero {
  background-color: #fafafa;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/banner1.jpg");
  position: relative;
  padding: 0 10px;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero-title {
  letter-spacing: 3px;
  line-height: 68px;
  z-index: 10;
  text-align: center;
  max-width: 770px;
}

.hero-description {
  margin: 24px 0;
  letter-spacing: 4px;
  text-align: center;
  z-index: 10;
}

.hero-button {
  padding: 13px 30px;
  font-size: 15px;
  letter-spacing: 2px;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 10;
  transition: 0.3s ease-in-out;
  outline: none;
  cursor: pointer;
}
.hero-button:hover {
  background-color: #fff;
  color: #333;
}

@media only screen and (min-width: 1200px) {
  .hero-title {
    font-size: 53px;
  }

  .hero-description {
    font-size: 24px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .hero-title {
    font-size: 43px;
  }

  .hero-description {
    font-size: 22px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .hero-title {
    font-size: 36px;
    line-height: 34px;
  }

  .hero-description {
    font-size: 20px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .hero-title {
    font-size: 29px;
    line-height: 34px;
  }

  .hero-description {
    font-size: 18px;
  }
}
@media only screen and (min-width: 0) and (max-width: 575px) {
  .hero-title {
    line-height: 34px;
    font-size: 22px;
  }

  .hero-description {
    font-size: 17px;
  }
}
@font-face {
  font-family: "Webfont";
  src: url("../fonts/fontawesome-webfont.eot");
  src: local("Webfont"), local("Webfont"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=index.css.map */
